@model List<ProductDataModel>

<div id="app"></div>
<div id="temporaryContent">
    <div class="listProduct">
        @foreach (var item in Model)
        {
            <div class="item">
                <img src="~/images/@item.Image">
                <h2>@item.ProductName</h2>
                <div class="price">$@item.Price</div>
                <button class="addCart" data-id="@item.Id">
                    Add To Cart
                </button>
            </div>
        }
    </div>
</div>